{{> header }}
<div class="body" >
    <form action="">
        <label for="dorm_price">Price</label>
        <input type="price" name="dorm_price"> <br>

        <label for="dorm_pledge">Pledge</label>
        <input type="price" name="dorm_pledge"> <br>

        <label for="dorm_type">Type</label>
        <input type="text" name="dorm_type"> <br>

        <label for="dorm_surface">Surface</label>
        <input type="number" name="dorm_surface"> 
        <label for="dorm_surface">square meters</label><br>

        <label for="dorm_pledge">Pledge</label>
        <input type="price" name="dorm_pledge"> <br>

        <label for="dorm_pledge">Pledge</label>
        <input type="price" name="dorm_pledge"> <br>

        <label for="dorm_pledge">Pledge</label>
        <input type="price" name="dorm_pledge"> <br>
    </form>
</div>
{{> footer }}