.dorms
    height: 100%

    .dorms_header
        display: flex
        justify-content: space-between
        flex-direction: row
        width: 90%
        margin: 0 auto

    button
        width: 120px
        height: 30px
        font-size: 12px
        border-radius: 15px
        text-align: center
        margin-top: 15px
        border: none
        background-color: $color-mint
        cursor: pointer

    .container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        width: 100%
        height: 100%
        padding-bottom: 50px

        .detail_dorm
            display: inline-block
            background-color: white
            margin: auto
            text-align: left
            padding: 10px
            width: 400px
            height: 100%
            margin: 10px
            --webkit-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
            -moz-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
            box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
            @media screen and (min-width: $break-medium)
                width: 800px
            
            .mapAndImg
                display: flex
                justify-content: space-around
                flex-wrap: wrap
                flex-direction: row

                #map
                    border-radius: 0px
                    width: 350px
                    height: 250px
                    margin: 0px
                    @media screen and (max-width: $break-medium)
                        height: 100px

        .dorm
            display: inline-block
            background-color: white
            margin: auto
            text-align: left
            padding: 10px
            width: 400px
            height: 440px
            margin: 10px
            --webkit-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
            -moz-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
            box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)

        .dorm_adress
            margin-bottom: 4px
            font-weight: 900

        .dorm_info
            margin-left: 12px
            font-weight: 300

        .dorm_price
            font-weight: 300
            text-align: right

        p
            margin: 2px

        .discription
            margin-left: 80px
            font-weight: 300

        img
            width:  100%
            height: 250px
            background-position: 50% 50%
            background-repeat:  no-repeat
            background-size:  contain
            z-index: 0
            margin-bottom: 4px